CONFIG_LOOP_BACK_ASSERT=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_PHY_CTC=y
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0x180000
CONFIG_ENV_SECT_SIZE=0x10000
CONFIG_BOOT_SCRIPT_OFFSET=0x1a0000
CONFIG_QSPI_BOOT=y
CONFIG_BOOTCOMMAND="ethloop && run bootcmd_qspi0"
CONFIG_SYS_PROMPT="zboot> "
# Zillnk commands
#
CONFIG_CMD_CLU_Z=y
CONFIG_CMD_ZBOOT_Z=y
# CONFIG_CLU_INIT is not set
# CONFIG_ZBOOT_RSA_BITSTREAM is not set
CONFIG_CMD_RSA_STATUS=y

#
# CONFIG_ENV_IS_NOWHERE is not set
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_IS_IN_NAND is not set

CONFIG_ENV_OVERWRITE=y

# CONFIG_LED is not set
# CONFIG_DM_VIDEO is not set
# CONFIG_I2C_EDID is not set
# CONFIG_DISPLAY is not set
# CONFIG_VIDEO is not set
# CONFIG_LCD is not set
# CONFIG_SPLASH_SCREEN is not set

CONFIG_SYSRESET_WATCHDOG=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_TIMEOUT_MSECS=30000
CONFIG_WDT=y
# CONFIG_WDT_ASPEED is not set
# CONFIG_WDT_AT91 is not set
CONFIG_WDT_CDNS=y
# CONFIG_WDT_CORTINA is not set
# CONFIG_WDT_ORION is not set
# CONFIG_WDT_SBSA is not set
# CONFIG_WDT_SP805 is not set
# CONFIG_WDT_STM32MP is not set
# CONFIG_XILINX_TB_WATCHDOG is not set

# CONFIG_INPUT is not set

# CONFIG_PHY_MARVELL is not set
# CONFIG_PHY_MICREL is not set
# CONFIG_PHY_NATSEMI is not set
# CONFIG_PHY_REALTEK is not set
# CONFIG_PHY_TI is not set
# CONFIG_PHY_TI_DP83867 is not set
# CONFIG_PHY_VITESSE is not set
# CONFIG_PHY_XILINX_GMII2RGMII is not set

# CONFIG_CMD_SCSI is not set
# CONFIG_SCSI_AHCI is not set
# CONFIG_SCSI is not set
# CONFIG_DM_SCSI is not set

# CONFIG_DFU_RAM is not set
# CONFIG_I2C_EEPROM is not set
# CONFIG_ZYNQ_SPI is not set

# CONFIG_CMD_FASTBOOT is not set
# CONFIG_CMD_CACHE is not set
# CONFIG_CMD_EFIDEBUG is not set
# CONFIG_CMD_DATE is not set
# CONFIG_CMD_GETTIME is not set

# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set

# CONFIG_USB is not set
# CONFIG_ZYNQMP_USB is not set
# CONFIG_CMD_USB is not set
# CONFIG_CMD_USB_MASS_STORAGE is not set
# CONFIG_CMD_THOR_DOWNLOAD is not set

# CONFIG_CMD_FRU is not set
# CONFIG_AHCI is not set
# CONFIG_LOG is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_MTDPARTS is not set
# CONFIG_CMD_LOG is not set
# CONFIG_MTD_RAW_NAND is not set
# CONFIG_RSA is not set
# CONFIG_TPM is not set
# CONFIG_EFI_LOADER is not set

# CONFIG_SPL_MMC_SUPPORT is not set
# CONFIG_SPL_SERIAL_SUPPORT is not set
# CONFIG_SPL_FS_FAT is not set
# CONFIG_SPL_LIBDISK_SUPPORT is not set
# CONFIG_SPL_SPI_SUPPORT is not set
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
# CONFIG_SPL_BANNER_PRINT is not set
# CONFIG_SPL_FPGA is not set
# CONFIG_SPL_OS_BOOT is not set
# CONFIG_SPL_RAM_SUPPORT is not set
# CONFIG_SPL_ATF is not set
# CONFIG_SPL_SERIAL_PRESENT is not set
# CONFIG_SPL_DM_USB is not set
