/include/ "system-conf.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
/ {
    gpio_keys:alarm_keys@0 {
        compatible = "gpio-keys";
        label = "DAS Interrupt collection";
    };

    select_map: select-map {
        compatible = "selectmap,ku5p";
        status = "okay";
        reg = <0x0 0xff0a0048 0x0 0x20>;
        first_check_cfg_done = <0>;
        ku_rdwr = <&gpio 65 GPIO_ACTIVE_HIGH>;
        ku_cclk = <&gpio 53 GPIO_ACTIVE_HIGH>;
        ku_prog_b = <&gpio 56 GPIO_ACTIVE_HIGH>;
        ku_cfg_done = <&gpio 52 GPIO_ACTIVE_HIGH>;
        ku_init_b = <&gpio 68 GPIO_ACTIVE_HIGH>;
        ku_csi_b = <&gpio 60 GPIO_ACTIVE_HIGH>;
        // ku_cfg_led = <&gpio 51 GPIO_ACTIVE_HIGH>;
        ku_bank_base = <&gpio 52 GPIO_ACTIVE_HIGH>;
        /* D0 - D7*/
        gpios = <&gpio 64 GPIO_ACTIVE_HIGH
            &gpio 57 GPIO_ACTIVE_HIGH
            &gpio 66 GPIO_ACTIVE_HIGH
            &gpio 69 GPIO_ACTIVE_HIGH
            &gpio 54 GPIO_ACTIVE_HIGH
            &gpio 62 GPIO_ACTIVE_HIGH
            &gpio 61 GPIO_ACTIVE_HIGH
            &gpio 63 GPIO_ACTIVE_HIGH>;
    };

    extwdt: external-watchdog {
        compatible = "das,extwdt";
        status = "okay";
        req-gpio = <&gpio 54 GPIO_ACTIVE_LOW>;
        en-gpio = <&gpio 56 GPIO_ACTIVE_HIGH>;
        wdi-gpio = <&gpio 57 GPIO_ACTIVE_HIGH>;
    };
};

&debug_bridge_0 {
	compatible = "xlnx,xvc";
	status = "okay";
};

&qspi {
    status = "okay";
    is-dual = <0>;
    num-cs = <1>;
    flash@0 {
        compatible ="jedec,spi-nor";
        reg = <0x0>;
        spi-tx-bus-width = <1>;
        spi-rx-bus-width = <4>;
        spi-max-frequency = <108000000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };
};

&gem0 {
    status = "okay";
    phy-handle = <&phy0>;
    phy-mode = "rgmii";
    is-internal-pcspma = <0x1>;
    phy0: phy@1 {
        reg = <0x1>;
    };
};

&gem1 {
    status = "okay";
    phy-mode = "gmii";
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
};

&gem2 {
    status = "okay";
    phy-mode = "gmii";
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
};

&gem3 {
    status = "disabled";
};

&spi0 {
    status = "okay";
    num-cs = <1>;
    u-boot,dm-pre-reloc;
    spidev@0 {
        compatible="rohm,dh2228fv";
        reg = <0>;
        spi-max-frequency = <5000000>;
    };
};

&axi_quad_spi_0 {
    status = "okay";
    spidev@0 {
        compatible="rohm,dh2228fv";
        reg = <0>;
        spi-max-frequency = <5000000>;
    };

    spidev@1 {
        compatible="rohm,dh2228fv";
        reg = <1>;
        spi-max-frequency = <5000000>;
    };

    spidev@2 {
        compatible="rohm,dh2228fv";
        reg = <2>;
        spi-max-frequency = <5000000>;
    };

    spidev@3 {
        compatible="rohm,dh2228fv";
        reg = <3>;
        spi-max-frequency = <5000000>;
    };

    spidev@4 {
        compatible="rohm,dh2228fv";
        reg = <4>;
        spi-max-frequency = <5000000>;
    };

    spidev@5 {
        compatible="rohm,dh2228fv";
        reg = <5>;
        spi-max-frequency = <5000000>;
    };

    spidev@6 {
        compatible="rohm,dh2228fv";
        reg = <6>;
        spi-max-frequency = <5000000>;
    };
};

&sdhci0 {
        status = "okay";
        bus-width = <8>;
        non-removable;
        cap-mmc-highspeed;
        cap-sd-highspeed;
        disable-wp;
        no-1-8-v;
};

&amba_pl {
    fpga: fpga@a0000000 {
        compatible = "generic-uio";
        reg = <0x0 0xA0000000 0x0 0x20000000>;
    };

    dpd_0_USER: dpd_user@a4000000 {
        compatible = "generic-uio";
        reg = <0x0 0xa4000000 0x0 0x20000>;
    };
};

&dpd_0{
    compatible = "generic-uio";
    reg = <0x0 0xa8000000 0x0 0x4000000>;
};

&gpio_keys {
	status = "okay";

    pl_irq1{
        label = "PAP";
        linux,code = <2>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <1 0>;
        debounce-interval = <0>;
    };

    pl_irq4{
        label = "AFE";
        linux,code = <5>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <4 0>;
        debounce-interval = <0>;
    };

    pl_irq5{
        label = "RTS";
        linux,code = <6>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <5 0>;
        debounce-interval = <0>;
    };

    pl_irq6{
        label = "ORAN_IF";
        linux,code = <7>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <6 1>;
        debounce-interval = <0>;
    };

    pl_irq7{
        label = "AFE_OV";
        linux,code = <8>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <7 0>;
        debounce-interval = <0>;
    };

    pl_irq10{
        label = "RADIO_CTRL_ZU67";
        linux,code = <11>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <10 0>;
        debounce-interval = <0>;
    };

    pl_irq19{
        label = "PRACH_IP_EVENT";
        linux,code = <20>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <19 0>;
        debounce-interval = <0>;
    };

    pl_irq20{
        label = "PRACH_CFG_UPDATE";
        linux,code = <21>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <20 0>;
        debounce-interval = <0>;
    };

    pl_irq21{
        label = "PRACH";
        linux,code = <22>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <21 0>;
        debounce-interval = <0>;
    };

    pl_irq22{
        label = "PRACH_OVERFLOW";
        linux,code = <23>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <22 0>;
        debounce-interval = <0>;
    };

    pl_irq25{
        label = "UART";
        linux,code = <26>;
        interrupt-parent = <&axi_intc_0>;
        interrupts = <25 0>;
        debounce-interval = <0>;
    };

};
